.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: all 400ms ease;
  cursor: pointer;
  white-space: nowrap;
  height: 40px;
  border-radius: 12px;
  font-weight: 700;
}
.button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
.hide-child {
  opacity: 0;
}
.button span {
  display: flex;
  align-items: center;
  gap: 8px;
}
/* primary variant */
.primary {
  background-color: var(--accent);
  border: 1px solid var(--accent);
  color: var(--text);
}
.primary path {
  fill: var(--text);
}
.primary:hover:not(:disabled):not(.loading) {
  background-color: var(--accent-high);
  border: 1px solid var(--accent-high);
}
.primary .spinner path:last-child {
  stroke: var(--text) !important;
}
/* icon variant */
.icon {
  background-color: transparent;
  border: 1px solid transparent;
}
.icon:hover:not(:disabled):not(.loading) {
  border: 1px solid var(--text);
}
